$navy: #001f5f;
$navy-xdark: #091734;
$navy-light: #3e67bb;

$yellow: #ffc936;

$gray-light: #e0e2eb;
$white: #ffffff;

// Shadows
$black-shadow: #0000003c;
$yellow-shadow: #ffc9368b;
$navy-shadow: #3e67bb76;
